<ul class="icons">
 {% if site.twitter %} <li><a href="https://twitter.com/{{ site.twitter }}" target="_blank" class="icon fa-twitter"><span class="label">Twitter</span></a></li> {% endif %}
 {% if site.facebook %} <li><a href="https://facebook.com/{{ site.facebook }}" target="_blank" class="icon fa-facebook"><span class="label">Facebook</span></a></li> {% endif %}
 {% if site.github %} <li><a href="https://github.com/{{ site.github }}" target="_blank" class="icon fa-github"><span class="label">GitHub</span></a></li> {% endif %}
 {% if site.telegram %} <li><a href="https://t.me/{{ site.telegram }}" target="_blank" class="icon fa-telegram"><span class="label">Telegram</span></a></li> {% endif %}
</ul>
