---
text: "Home"
text1: About Us
text2: Services
---
<!DOCTYPE HTML>
<html>

<head>
	<title>{{ page.title }}</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="assets/css/main.css" />
	<noscript>
		<link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
</head>

<body class="is-preload">
  <!-- wrapper -->
	{% if page.title == layout.text %}
	<!-- Wrapper for home page -->
	<div id="wrapper" class="fade-in">
		<div id="intro">
			<h1>{{ site.company }}</h1>
			<p>{{ site.description }}</p>
			<!--<ul class="actions">
				<li><a href="#header" class="small button icon solo fa-arrow-down scrolly">Continue</a></li>
			</ul>-->
		</div>
	{% elsif page.title == layout.text1 %}
	<!-- Wrapper for about page -->
	<div id="wrapper">
	{% else %}
	<!-- temp -->
	<!-- Wrapper for home page -->
	<div id="wrapper" class="fade-in">
		<div id="intro">
			<h1>{{ site.company }}</h1>
			<p>{{ site.description }}</p>
			<!--<ul class="actions">
				<li><a href="#header" class="small button icon solo fa-arrow-down scrolly">Continue</a></li>
			</ul>-->
		</div>
	{% endif %}

			<!-- Header -->
			<header id="header">
				{% if page.title == layout.text %}
				<a href="" class="logo">{{ site.company_logo }}</a>
				{% elsif page.title == layout.text1 %}
				<a href="{{ site.url }}/home" class="logo">{{ site.company_logo }}</a>
				{% else %}
				<a href="" class="logo">{{ site.company_logo }}</a>
				{% endif %}
			</header>

			<!-- Nav -->
			<nav id="nav">
				<ul class="links">
					{% if page.title == layout.text %}
					<!-- for home page -->
					<li class="active"><a href="{{ site.url }}/home/#header">{{ site.title_of_home }}</a></li>
					<li><a href="{{ site.url }}/about/">{{ site.title_of_about }}</a></li>
					{% elsif page.title == layout.text1 %}
					<!-- for about page -->
					<li><a href="{{ site.url }}/home/#header">{{ site.title_of_home }}</a></li>
					<li class="active"><a href="{{ site.url }}/about/">{{ site.title_of_about }}</a></li>
					{% elsif page.title == layout.text2 %}
					<!-- for services page -->
					<li><a href="{{ site.url }}/home/#header">{{ site.title_of_home }}</a></li>
					<li class="active"><a href="{{ site.url }}/services/">{{ page.title }}</a></li>
					<li><a href="{{ site.url }}/about/">{{ site.title_of_about }}</a></li>
					{% else %}
					<!-- for home page -->
					<li class="active"><a href="{{ site.url }}/home/#header">{{ site.title_of_home }}</a></li>
					<li><a href="{{ site.url }}/about/">{{ site.title_of_about }}</a></li>
					{% elsif page.title == layout.text1 %}
					{% endif %}
					<!-- <li><a href="elements.html">Elements Reference</a></li> -->
				</ul>

				{% include social_icons.html %}

			</nav>
			<!-- Main -->
			<div id="main">

			{{ content }}

			<!-- Footer -->
		<!--	{% unless page.title != layout.text %}
			<footer>
				<div class="pagination"> -->
					<!--<a href="#" class="previous">Prev</a>-->
				<!--	<a href="#" class="page active">1</a>
					<a href="#" class="page">2</a>
					<a href="#" class="page">3</a>
					<span class="extra">&hellip;</span>
					<a href="#" class="page">8</a>
					<a href="#" class="page">9</a>
					<a href="#" class="page">10</a>
					<a href="#" class="next">Next</a>
				</div>
			</footer>
			{% endunless %}
			-->

			</div>

			{% include footerCopyright.html %}

			<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

		</div>
</body>

</html>
